@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Mono";
  src: url("./assets/font/Roboto.woff2") format("woff2");
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins.ttf") format("ttf");
}

* {
  @apply font-poppins m-0 p-0 box-border scroll-smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #01f;
}

::-webkit-scrollbar-thumb:active {
  background: #03f;
}